/*fonts*/
@font-face {
    font-family: "MuseoSansCyrl300";
    src:url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "MuseoSansCyrl500";
    src:url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSansCyrl700";
    src:url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "MuseoSansCyrl900";
    src:url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff");
    font-weight: 900;
}
/*fonts*/

/*body и общие классы*/

.b-body {
    margin: 0;
    padding: 0;
}

.b-container {
    padding: 0px 45px 0px 45px;
}

.b-title__h2 {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 25px;
    color: #000000;
    padding: 0;
    margin: 0;
    flex:0 1 100%;
}

.b-title__h3 {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 35px;
}

.b-text {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 15px;
}

.b-question-choice {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 13px;
}

.b-read-more {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background: #ffdc00;
    color: #000000;
    margin: 0;
    padding: ;
}

.b-all-goods {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    border: ;
    margin: 0;
    padding: ;
}

/*goods*/

.b-goods {
    
}

.b-goods__image {
    
}

.b-goods__name {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 15px;
}

.b-goods__price {
    font-family: MuseoSansCyrl900, sans-serif;
    font-size: 15px;
}

.b-goods__hit {
    font-family: MuseoSansCyrl900, sans-serif;
    font-size: 11px;
}

.b-goods__share {
    font-family: MuseoSansCyrl900, sans-serif;
    font-size: 11px;
}

.b-goods__image {
    
}

.b-goods__name {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 15px;
}

.b-goods__price {
    font-family: MuseoSansCyrl900, sans-serif;
    font-size: 15px;
}

.b-goods__price--sale {
    
}

.b-goods__ruble {
    font-family: MuseoSansCyrl900, sans-serif;
    font-size: 15px;
}

.p-goods__delivery {
    font-family: MuseoSansCyrl300, sans-serif;
    font-size: 13px;
}

.goods-rating {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 13px;
}


/*header*/

.b-header {
    padding-top: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.b-header__top-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
}

.b-header__sity-search {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    flex: 0 0 18.9%;
}

.b-header__sity {
    
}

.b-header__sity-name {
    text-decoration: none;
    border-bottom: 1px dashed #666666;
    color: #666666;
}

.b-header__nav {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 13px; 
    text-transform: uppercase;
    line-height: 17px;
    flex: 0 0 auto;
}

.b-header__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.b-header__item {
    margin: 0;
    padding: 0;
    margin-right: 36px;
    display: inline-block;
}

.b-header__item:last-of-type {
    margin-right: 0;
}

.b-header__item-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #666666;
}

.b-header__item-other {
    color: #eb2e2c;/*через псевдоклассы не применяются свойства*/
}

.b-header__tel {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 15px;
    color: #333333;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 16px;
    flex: 0 0 auto;
}

.b-header__bottom-wrapper {
    border-top: 1px solid #666666;
    padding-top: 19px;
}

.b-header__bottom-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-header__logo {
    max-width: 210px;
    height: 42px;
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    margin-right: 28px;
}

.b-header__logo-image {
    width: 100%;
    height: auto;
}

.b-header__form {
    font-family: MuseoSansCyrl300, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    padding-top: 2px;/*отступ как у pixel perfect*/
    flex: 0 0 58%;
    position: relative;
}

.b-header__form::before {
    content: "";
    background: url("../img/icon_search.png") no-repeat;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 11px;
    right: -8px;
}

.b-header__search {
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 13px;
    font-family: MuseoSansCyrl300, sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.b-header__account {
    font-size: 13px;
    flex: 0 0 auto;
}

.b-header__account-text {
    display: inline-block;
    text-align: right;
    padding: 0;
    margin: 0;
    margin-right: 17px;
    vertical-align: top;
    padding-top: 6px;
    line-height: 15px;
}

.b-header__account-cabinet {
    font-family: MuseoSansCyrl700, sans-serif;
    color: #333333;
    text-transform: uppercase;
    display: block;
    margin: 0;
    padding: 0;
}

.b-header__account-enter {
    font-family: MuseoSansCyrl500, sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    display: block;
    letter-spacing: 1.1px;
    margin: 0;
    padding: 0;
}

.b-header__backet {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 13px;
    display: inline-block;
    border-left: 1px solid #666666;
    padding: 0;
    margin: 0;
    padding-left: 21px;
    height: 40px;
    text-decoration: none;
    position: relative;
    color: #666666;
}

.b-header__backet::before {
    content: "13";
    position: absolute;
    top: -2px;
    right: 0px;
    background: #ffdc00;
    border-radius: 50%;
    padding: 3px;
}

.b-header__backet-image {
    margin-right: 3px;/*pixelperfect*/
    padding-top: 5px;/*pixelperfect*/
}

/*main*/

.b-main {
    
}

/*banners*/

.b-banners {
    background: #ffdc00 url(../img/background_header.png) no-repeat bottom left;
    background-size: auto;
    margin-bottom: 54px;
    position: relative;
}

.b-banners__nav {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background: #ffdc00;
    padding: 23px 0 19px 0;
}

.b-banners__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-banners__item {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.b-banners__item-link {
    text-decoration: none;
    color: #000000;
}

.b-banners__slider {
    height: 428px;
    background-image: radial-gradient(circle, #ffdc00 50%, transparent 50%),
                      linear-gradient(to right, transparent 50%, #ffdc00 50%);
    background-repeat: no-repeat;
    background-position: 110px 0;
    position: relative;
}

.b-banners__arrow-left {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: 0;
    padding: 5px;
    border-radius: 5%;
    width: 35px;
    height: 35px;
    top: 46%;
    left: 43px;
    border: none;
}

.b-banners__arrow-left .b-banners__arrow-image {
    transform: scale(-1);
    width: 100%;
    height: auto;
    filter: invert(1);
}

.b-banners__arrow-right {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: 0;
    padding: 5px;
    border-radius: 5%;
    width: 35px;
    height: 35px;
    top: 45.6%;
    right: 45px;
    border: none;
}

.b-banners__arrow-right .b-banners__arrow-image {
    width: 100%;
    height: auto;
    filter: invert(1);
}

.b-banners__slider-titles {
    font-size: 32px;
    font-family: MuseoSansCyrl700, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 58px;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
    position: absolute;
    top: 58px;
    right: 145px;
    max-width: 600px;
}

.b-banners__slider-icon {
    position: relative;/*pixelperfect*/
    right: 3px;/*pixelperfect*/
    top: -2px;/*pixelperfect*/
}

.b-banners__slider-title {
    padding: 0;
    margin: 0;
    display: block;  
}

.b-banners__slider-span {
    font-family: MuseoSansCyrl300, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    display: block;
}

.b-banners__slider-points {
    position: absolute;
    bottom: 16px;
    right: 40px;
}

.b-banners__slider-point {
    display: inline-block;
    margin-right: 6px;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.2);
    height: 10px;
    width: 10px;
}

.b-banners__slider-point:nth-child(4) {
    background:rgba(0, 0, 0, 0.6);
}

/*news*/

.b-news {
    margin-bottom: 92px;
}

.b-news__title {
    flex: 1 0 100%;
    margin-bottom: 37px;
}

.b-news__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.b-news__panel-item {
    color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 245px;
    background: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b-news__panel-item:first-of-type {
    background: #ffdc00;
    flex: 0 0 calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 11px;
    padding-left: 89px;/*pixelperfect*/
    flex-wrap: nowrap;
}

.b-news__panel-item:first-of-type .b-news__panel-image {
    margin-right: 55px;
}

.b-news__panel-item:first-of-type .b-news__panel-title {
    line-height: 44px;
    margin-bottom: 4px;
    padding-top: 11px;
}

.b-news__panel-item:nth-of-type(2) {
    flex: 0 0 50%;
    margin-bottom: 11px;
    padding: 0 20px 0 43px;/*pixelperfect*/
    flex-wrap: nowrap;
}

.b-news__panel-item:nth-of-type(2) .b-news__panel-image {
    margin-right: 44px;
}

.b-news__panel-item:nth-of-type(2) .b-news__panel-title {
    line-height: 31px;
    margin-bottom: 0px;
    padding-top: 3px;
}

.b-news__panel-item:nth-of-type(3) {
    flex: 0 0 calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 11px;
    text-align: center;
}

.b-news__panel-item:nth-of-type(3) .b-news__panel-image {
    padding-left: 86px;
    margin-bottom: -15px;
}

.b-news__panel-item:nth-of-type(3) .b-news__panel-title {
    line-height: 30px;
}

.b-news__panel-item:nth-of-type(3) .b-news__panel-text {
    flex: 1;
}

.b-news__panel-item:nth-of-type(4) {
    flex: 0 0 calc(25% - 10px);
    background: #95e27a;
    margin-right: 10px;
    margin-bottom: 11px;
    text-align: center;
}

.b-news__panel-item:nth-of-type(4) .b-news__panel-image {
    padding-left: 88px;
    margin-bottom: -9px;
}

.b-news__panel-item:nth-of-type(4) .b-news__panel-title {
    line-height: 25px;
}

.b-news__panel-item:nth-of-type(5) {
    flex: 0 0 50%;
    margin-bottom: 11px;
    padding-left: 18px;/*pixelperfect*/
    flex-wrap: nowrap;
}

.b-news__panel-item:nth-of-type(5) .b-news__panel-image {
    padding-left: 38px;
    margin-right: 36px;
}

.b-news__panel-item:nth-of-type(5) .b-news__panel-title {
    line-height: 24px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.b-news__panel-item:nth-of-type(6) {
    flex: 0 0 calc(50% - 10px);
    margin-right: 10px;
    padding-left: 61px;/**/
    flex-wrap: nowrap;
}

.b-news__panel-item:nth-of-type(6) .b-news__panel-image {
    padding-left: 12px;
    margin-right: 70px;
}

.b-news__panel-item:nth-of-type(6) .b-news__panel-title {
    line-height: 24px;
    margin-top: -11px;
}

.b-news__panel-item:nth-of-type(6) .b-news__panel-text {
    margin-right: 40px;
}

.b-news__panel-item:nth-of-type(7) {
    flex: 0 0 calc(25% - 10px);
    background: #8dcdff;
    margin-right: 10px;
    text-align: center;
}

.b-news__panel-item:nth-of-type(7) .b-news__panel-image {
    padding-left: 84px;
    padding-top: 0px;
    margin-bottom: -32px;
}

.b-news__panel-item:nth-of-type(7) .b-news__panel-title {
    line-height: 24px;
}

.b-news__panel-item:nth-of-type(7) .b-news__panel-text {
    flex: 1;
    margin-right: 20px;
    padding-left: 34px;
}

.b-news__panel-item:nth-of-type(8) {
    flex: 0 0 25%;
    background: #fd0f2a;
    color: #ffffff;
    text-align: center;
}

.b-news__panel-item:nth-of-type(8) .b-news__panel-image {
    padding-left: 48px;
    margin: -11px 0 0px 0;
}

.b-news__panel-item:nth-of-type(8) .b-news__panel-title {
    line-height: 30px;
}

.b-news__panel-item:nth-of-type(8) .b-news__panel-text {
    flex: 1;
    padding-left: 40px;
    margin-right: 40px;
}

.b-news__panel-image {
    flex: 0 0 1;
}

.b-news__panel-text {
    padding: 0;
    margin: 0;
    flex: 0 0 50%;
}

.b-news__panel-title {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 20px;
    display: block;
    padding: 0;
    margin: 0;
}

.b-news__panel-description {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 15px;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 22px;
}

.b-news__title-other {
    font-size: 40px;
    text-transform: uppercase;
}

.b-news__title-mark {
    background: none;
    font-family: MuseoSansCyrl300, sans-serif;
    display: block;
    line-height: 47px;
}

.b-news__conditions {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.b-news__conditions-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    flex: 0 0 25%;
}

.b-news__condition-image {
    flex: 0 0 1;
    margin-right: 20px;
}

.b-news__condition-figcaption {
    flex:  0 0 50%;
    text-transform: uppercase;
    line-height: 16px;
}

/*nav*/

.b-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.b-nav__title {
    flex: 1 0 100%;
    margin-bottom: 38px;
}

.b-nav__item {
    overflow: hidden;
    flex: 0 0 25%;
    height: 200px;
}

.b-nav__item-image {
    margin: 0;
    padding: 0;
}

.b-nav__item:nth-of-type(1) {
    background:  #8dcdff url(../img/image_electronics.png) no-repeat;
    background-position: 40% -10%;
    
}

.b-nav__item:nth-of-type(2) {
    background: #c694cb url(../img/image_homeappliances.png) no-repeat;
}

.b-nav__item:nth-of-type(3) {
    background: url(../img/image_repairanddacha.png) no-repeat;
}

.b-nav__item:nth-of-type(4) {
    background: url(../img/image_children'sgoods.png) no-repeat;
}

.b-nav__item:nth-of-type(5) {
    background: url(../img/image_furniture.png) no-repeat;
}

.b-nav__item:nth-of-type(6) {
    background: url(../img/image_sport.png) no-repeat;
}

.b-nav__item:nth-of-type(7) {
    background: #c694cb;
}

.b-nav__item:nth-of-type(8) {
    background: #c694cb;
}
/*по другому выровнять картинки не получается*/
img[src="img/image_electronics.png"] {
    position: absolute;
    left: 30px;
    top: 20px;
}

img[src="img/image_homeappliances.png"] {
    position: absolute;
    left: -60px;
    top: 10px;
}

img[src="img/image_repairanddacha.png"] {
    position: absolute;
    left: -60px;
    top: 10px;
}

img[src="img/image_children'sgoods.png"] {
    position: absolute;
    left: -60px;
    top: 10px;
}

img[src="img/image_furniture.png"] {
    position: absolute;
    left: -60px;
    top: 10px;
}

img[src="img/image_sport.png"] {
    position: absolute;
    left: -60px;
    top: 10px;
}

img[src="img/image_homeanddacha.png"] {
    position: absolute;
    left: -60px;
    top: 10px;
}

img[src="img/image_auto.png"] {
    position: absolute;
    left: -60px;
    top: 10px;
}

.b-nav__figcaption {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 20px;
    background: #ffffff;
}

/*brands*/

.b-brands {
    margin-top: 40px;/**/
}

.b-brands__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-brands__title {
    flex: 1 0 auto;
}

.b-brands__button {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 13px;
    flex: 0 0 auto;
}

.b-brands__button::before {
    
}

.b-brands__button::after {
    
}

.b-brands__logotypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-brands__logotypes-image {
    
}

.b-brands__logotypes-link {
    
}

.b-brands__sale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-brands__sale-titles {
    font-size: 25px;
}

.b-brands__sale-titles::before {
    
}

.b-brands__sale-title {
    font-family: MuseoSansCyrl500, sans-serif;
}

.b-brands__sale-text {
    font-family: MuseoSansCyrl300, sans-serif;
}

.b-brands__sale-image {
    
}

/*products*/

.b-panel-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.b-panel-products__title {
    flex: 1 0 100%;
}

.b-panel-products__item {
    color: #666666;
    text-decoration: none;
    flex: 1 0 25%;
}

/*info-products*/

.b-info-products {
    
}

.b-info-products__title {
    font-family: MuseoSansCyrl300, sans-serif;
    font-size: 30px;
}

.b-info-products__title-span {
    font-family: MuseoSansCyrl700, sans-serif;
}

.b-info-products__tabs {
    font-family: MuseoSansCyrl500, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-info-products__tabs-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.b-info-products__tabs-item {
    dis
}

.b-info-products__tabs-button {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 15px;
}

.b-info-products__banners {
    
}

.b-info-products__banners-text {
    
}

.b-info-products__banners-title {
    
}


.b-info-products__banners-p {
    
}

.b-info-products__banners-span {
    
}

.b-info-products__banners-button {
    
}

.b-info-products__banners-goods {
    
}

/*article*/

.b-info-products__article {
    
}

.b-info-products__article-text {
    
}

.b-info-products__article-title {
    
}

.b-info-products__article-p {
    
}

.b-info-products__article-span {
    
}

.b-info-products__article-button {
    
}

.b-info-products__article-button {
    
}

.b-info-products__article-goods {
    
}

/*recent*/

.b-recent {
    
}

.b-recent__title {
    
}

.b-recent__goods {
    
}

.b-recent__goods-image {
    
}

.b-recent__goods-text {
    
}

.b-recent__goods-name {
    
}

.b-recent__goods-price {
    
}

.b-recent__goods-ruble {
    
}

/*feedback*/

.b-feedback {
    
}

.b-feedback__title {
    
}

.b-feedback__text {
    
}

.b-feedback__forms {
    
}

.b-feedback__email {
    
}

.b-feedback__button {
    
}

/*footer*/

.b-footer {
    
}

.b-footer__content {
    
}

.b-footer__content-info {
    
}

.b-footer__content-list {
    
}

.b-footer__content-title {
    
}

.b-footer__content-item {
    
}

.b-footer__content-tel {
    
}

.b-footer__content-num {
    
}

.b-footer__content-text {
    
}

.b-footer__content-links {
    
}

.b-footer__content-link {
    
}

.b-footer__copyright {
    
}

.b-footer__copyright-info {
    
}

.b-footer__copyright-design {
    
}

.b-footer__copyright-image {
    
}

.b-footer__copyright-text {
    
}